





<nav id="navbar-main" aria-label="Primary navigation"
	 class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-theme-secondary">
	<div class="container position-relative">
		<a class="navbar-brand mr-lg-4" asp-area="" asp-controller="Home" asp-action="Index">
			<img class="navbar-brand-dark"
				 src="~/lib/Scripts-For-Template/assets/img/light.svg"
				 alt="Logo light" />
			<img class="navbar-brand-light"
				 src="~/lib/Scripts-For-Template/assets/img/dark.svg"
				 alt="Logo dark" />
		</a>
		<div class="navbar-collapse collapse mr-auto" id="navbar_global">
			<div class="navbar-collapse-header">
				<div class="row">
					<div class="col-6 collapse-brand">
						<a asp-area="" asp-controller="Home" asp-action="Index">
							<img src="~/lib/Scripts-For-Template/assets/img/dark.svg" alt="Logo dark" />
						</a>
					</div>
					<div class="col-6 collapse-close">
						<a href="#navbar_global"
						   class="fas fa-times"
						   data-toggle="collapse"
						   data-target="#navbar_global"
						   aria-controls="navbar_global"
						   aria-expanded="false"
						   title="close"
						   aria-label="Toggle navigation"></a>
					</div>
				</div>
			</div>

			<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
				<li class="nav-item">
					<a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link"> Home </a>
				</li>
				@if(User.Identity.IsAuthenticated&& User.IsInRole("user"))
				{
					<li class="nav-item">
						<a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link"> Take Exam </a>
					</li>
					
				}
			
				<li class="nav-item">
					<a asp-area="" asp-controller="ContactUs" asp-action="Index" class="nav-link"> Contact Us </a>
				</li>
				<li class="nav-item">
					<a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link"> About Us </a>
				</li>
			</ul>
			<ul class="navbar-nav navbar-nav-hover align-items-lg-center">


				@if (!User.Identity.IsAuthenticated )
				{
					<li class="nav-item">
						<a asp-area="" asp-controller="UsersSignIn" asp-action="Sign_In" class="nav-link"> Login </a>
					</li>
					<li class="nav-item">
						<a asp-area="" asp-controller="UsersSignIn" asp-action="Sign_Up" class="nav-link"> Sign Up </a>
					</li>
				}
				@if (User.Identity.IsAuthenticated)
				{
					<li class="nav-item">
						<a asp-area="" asp-controller="UsersSignIn" asp-action="Logout" class="nav-link"> Log Out </a>
					</li>
				}
			</ul>
		</div>
	</div>
</nav>


@*
		Default NavBar

		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container-fluid">
		<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVCExamProject</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
		<ul class="navbar-nav flex-grow-1">
		<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
		</li>
		<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</li>
		</ul>
		</div>
		</div>
		</nav>
		*@