@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<h1>Review  these points and try again</h1>

<h3>** passwored and confirm passwored not the same</h3>
<h3>** Email is already exists enter different one</h3>

<a asp-controller="UsersSignIn" asp-action="Sign_Up" class="nav-link"> Sign Up Again</a>