@{
	ViewData["Title"] = "Student-Name Here - Students"; // put student's name here
	Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
	ViewData["activeLink"] = "students";
}


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Post-->
	<div class="post d-flex flex-column-fluid" id="kt_post">
		<!--begin::Container-->
		<div id="kt_content_container" class="container-xxl">
			<!--begin::Layout-->
			<div class="d-flex flex-column flex-xl-row">
				<!--begin::Sidebar-->
				<div class="flex-column flex-lg-row-auto w-100 mb-10">
					<!--begin::Card-->
					<div class="card mb-5 mb-xl-8">
						<!--begin::Card body-->
						<div class="card-body pt-15">
							<!--begin::Summary-->
							<a asp-action="index" asp-controller="Student" class="btn btn-secondary">Back</a>
							<div class="d-flex flex-center flex-column mb-5">

								<a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-1">Max Smith</a>

								<div class="fs-5 fw-bold text-muted mb-6">mr_amr456@yahoo.com</div>

							</div>


							<div class="d-flex flex-stack fs-4 py-3">
								<div class="fw-bolder rotate collapsible" data-bs-toggle="collapse" href="#kt_customer_view_details" role="button" aria-expanded="true" aria-controls="kt_customer_view_details">
									Details
									<span class="ms-2 rotate-180">
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
										<span class="svg-icon svg-icon-3">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
												<path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
											</svg>
										</span>
										<!--end::Svg Icon-->
									</span>
								</div>

							</div>
							<!--end::Details toggle-->
							<div class="separator separator-dashed my-3"></div>
							<!--begin::Details content-->
							<div id="kt_customer_view_details" class="collapse show">
								<div class="table-responsive">
									<table id="kt_customer_details_invoices_table_1" class="table align-middle table-row-dashed fs-6 fw-bolder gy-5 dataTable no-footer">
										<!--begin::Thead-->
										<thead class="border-bottom border-gray-200 fs-7 text-uppercase fw-bolder">
											<tr class="text-start text-muted gs-0"><th class="min-w-100px sorting" tabindex="0" aria-controls="kt_customer_details_invoices_table_1" rowspan="1" colspan="1" style="width: 100px;" aria-label="Order ID: activate to sort column ascending">Exam Name</th><th class="min-w-100px sorting" tabindex="0" aria-controls="kt_customer_details_invoices_table_1" rowspan="1" colspan="1" style="width: 100px;" aria-label="Amount: activate to sort column ascending">Degree</th><th class="min-w-100px sorting" tabindex="0" aria-controls="kt_customer_details_invoices_table_1" rowspan="1" colspan="1" style="width: 100px;" aria-label="Status: activate to sort column ascending">status</th><th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customer_details_invoices_table_1" rowspan="1" colspan="1" style="width: 125px;" aria-label="Date: activate to sort column ascending">Exam date</th></tr>
										</thead>
										<!--end::Thead-->
										<!--begin::Tbody-->
										<tbody class="fs-6 fw-bold text-gray-600">


											<tr class="odd">
												<td data-order="Invalid date">
													<a href="#" class="text-gray-600 text-hover-primary">Math</a>
												</td>
												<td class="text-success">8/10</td>
												<td>
													<span class="badge badge-light-success">Passed</span>
												</td>
												<td>14/03/2023</td>

											</tr>
											<tr class="odd">
												<td data-order="Invalid date">
													<a href="#" class="text-gray-600 text-hover-primary">Math</a>
												</td>
												<td class="text-success">4/10</td>
												<td>
													<span class="badge badge-light-danger">Failed</span>
												</td>
												<td>14/03/2023</td>

											</tr>
										</tbody>
										<!--end::Tbody-->
									</table>
								</div>
							</div>
							<!--end::Details content-->
						</div>
						<!--end::Card body-->
					</div>
					<!--end::Card-->

				</div>
				<!--end::Content-->
			</div>

			<!--end::Modals-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Post-->
</div>