﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model User

@{
	ViewData["Title"] = "Sign In";
	//Layout = "~/Views/Admin/Shared/_GeneralLayout.cshtml";
}
<section class="min-vh-100 d-flex align-items-center bg-soft">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="signin-inner mt-3 mt-lg-0 bg-white shadow border rounded border-light w-100">
					<div class="row gx-0 align-items-center justify-content-between">
						<div class="col-12 col-lg-5 d-none d-lg-block rounded-left bg-secondary">
							<img src="~/lib/Scripts-For-template/assets/img/illustrations/login.svg" alt="login image" />
						</div>
						<div class="col-12 col-lg-7 px-3 py-5 px-sm-5 px-md-6">
							<div class="text-center text-md-center mb-4 mt-md-0">
								<h1 class="mb-0 h3">Sign In</h1>
							</div>

							<form method="post" id="mainform">


								<!-- Form -->
								<div class="form-group mb-4">
									<label for="name">Name</label>
									<input asp-for="Name" class="form-control" placeholder="Enter Your Name" />
									<span asp-validation-for="Name" class="text-danger"></span>
									@*<div class="input-group">
									<input type="password" placeholder="Name" class="form-control" id="exampleInputPasswordCard4" />
									</div>*@
								</div>
								<!-- End of Form -->
								<!-- Form -->
								<div class="form-group mb-4">
									<label for="Password">Password:</label>
									<input asp-for="Password" rows="5" class="form-control" placeholder="" /></textarea>
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
								<!-- End of Form -->

								<button type="submit" class="btn btn-block btn-primary">
									Send
								</button>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
