@{
	ViewData["Title"] = "About";
}

<main>
	<!-- Hero -->

	<section class="section section-lg" id="about">
		<div class="container">
			<div class="row row-grid align-items-center mb-5 mb-lg-7">
				<div class="col-12 col-lg-5">
					<h2 class="mb-4">Organization of the School</h2>
					<p>
						Our school is dedicated to providing quality education and
						fostering an environment that promotes academic excellence and
						personal growth. Here, we strive to empower our students with
						knowledge and skills that will prepare them for success in their
						future endeavors.
					</p>
					<p>
						We offer a wide range of academic programs, including various
						subjects in the sciences, humanities, and arts. Our school is
						divided into different departments, each specializing in
						specific fields of study.
					</p>
				</div>
				<div class="col-12 col-lg-6 ml-lg-auto">
					<img src="~/lib/Scripts-For-Template/assets/img/illustrations/scene-3.svg"
						 class="w-100"
						 alt="" />
				</div>
			</div>
			<div class="row row-grid align-items-center mb-5 mb-lg-7">
				<div class="col-12 col-lg-5 order-lg-2">
					<h2 class="mb-4">Meet Our Founder</h2>
					<p>
						Our school was founded by Mr. Ahmed Zaki, an esteemed
						educationist with over 30 years of experience in the field. Mr.
						Zaki's vision was to establish an institution that provides
						students with a well-rounded education, focusing on academic
						excellence, character development, and community engagement.
					</p>
					<p>
						His commitment to education and his dedication to nurturing young minds have shaped the foundation of our school's principles and values.
					</p>
				</div>
				<div class="col-12 col-lg-6 mr-lg-auto">
					<img src="~/lib/Scripts-For-Template/assets/img/illustrations/scene-2.svg"
						 class="w-100"
						 alt="" />
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-4 mb-4">
					<div class="card border-light p-4">
						<div class="card-body">
							<h2 class="display-2 mb-2">98%</h2>
							<span>
								Average satisfaction rating received in the past
								year.
							</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mb-4">
					<div class="card border-light p-4">
						<div class="card-body">
							<h2 class="display-2 mb-2">24/7</h2>
							<span> Our support team is a quick chat or email away.</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mb-4">
					<div class="card border-light p-4">
						<div class="card-body">
							<h2 class="display-2 mb-2">220k+</h2>
							<span>
								Installs from the two major mobile app
								stores.
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section-lg pb-0" id="testimonials">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 text-center mb-5 mb-lg-6">
					<h2 class="display-3 mb-4">Customers love it</h2>
					<p class="lead">
						The final result of our formula at work. Check out what our
						clients <br class="d-none d-lg-inline-block" />
						have to say about our mobile app and our support team.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section section-lg" id="faq">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-12 text-center mb-4 mb-lg-5">
					<h2 class="display-3 mb-4">Facts & Questions</h2>
					<p class="lead">
						Have a question? Read through our FAQ below. If you can't find
						an answer, <br class="d-none d-lg-inline-block" />
						please email our support team. We're here to help.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-10">
					<!--Accordion-->
					<div class="accordion" id="accordionExample">
						<div class="card border-light mb-0">
							<div class="card-header" id="headingOne">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block d-flex justify-content-between text-left"
											type="button"
											data-toggle="collapse"
											data-target="#collapseOne"
											aria-expanded="true"
											aria-controls="collapseOne">
										<span class="h6 mb-0 font-weight-bold">Brief about this website</span>
										<span class="icon">
											<span class="fas fa-plus"></span>
										</span>
									</button>
								</h2>
							</div>
							<div id="collapseOne"
								 class="collapse show"
								 aria-labelledby="headingOne"
								 data-parent="#accordionExample">
								<div class="card-body">
									<p class="mb-0">
										We understand the importance of exams and the desire to
										achieve outstanding results. That's why we have created
										a platform specifically designed to help students like
										you prepare effectively and confidently for your school
										exams. With our School Exam Website, you gain access to
										a wide range of valuable study materials, practice
										tests, and exam resources tailored to your specific
										curriculum. Whether you're studying for math, science,
										history, literature, or any other subject, our website
										provides comprehensive coverage to meet your academic
										needs. Our user-friendly interface allows you to
										navigate effortlessly through various topics and
										subjects. You'll find well-organized study guides,
										in-depth explanations, and interactive learning tools
										that make studying engaging and enjoyable. We believe
										that learning should be accessible and convenient, so
										our platform is designed to accommodate different
										learning styles and preferences.
									</p>
								</div>
							</div>
						</div>
						<div class="card border-light mb-0">
							<div class="card-header" id="headingTwo">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block d-flex justify-content-between text-left"
											type="button"
											data-toggle="collapse"
											data-target="#collapseTwo"
											aria-expanded="false"
											aria-controls="collapseTwo">
										<span class="h6 mb-0 font-weight-bold">Our Mission</span>
										<span class="icon">
											<span class="fas fa-plus"></span>
										</span>
									</button>
								</h2>
							</div>
							<div id="collapseTwo"
								 class="collapse"
								 aria-labelledby="headingTwo"
								 data-parent="#accordionExample">
								<div class="card-body">
									<p class="mb-0">
										At our School Exam Website, we are committed to your
										success. We strive to provide you with the tools,
										resources, and support you need to achieve your academic
										goals and excel in your exams. Let us be your trusted
										companion on your educational journey, helping you
										unlock your full potential and achieve remarkable
										results.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!--End of Accordion-->
				</div>
			</div>
		</div>
	</section>
</main>